<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/log_in_styles.css">
    <title>
        Log in
    </title>

<body>
    <div class="loginbox">
        <h1>Log in </h1>
        <form action='/logged_in' method ='POST'>
            <input type="hidden" name='user_info' value='null' %> />
            <input type="hidden" name="from" value="login">
            <p>Username</p>
            <input type="text" id = 'username' name="username" placeholder="Enter your username" required> 
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter your password" required>
            <input type="Submit" name="" value="Log in">

            <a href="/sign_up">Sign up</a>

        </form>
    </div>

</body>
</head>

</html>